<a href="https://colab.research.google.com/github/Dzaki020306/Pemrograman-Dasar/blob/main/pertemuan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#numbers_immutable

var = 20
print(var)
print(id(var))

var = 25
print(var)
print(id(var))

20
11642696
25
11642856

In [ ]:
#Formatted String

name = "Dzaki Naufal Ilham"
print(f"hello, nama saya {name}")

hello, nama saya Dzaki Naufal Ilham

In [ ]:
#%-formating

name = "Dzaki Naufal Ilham"
print("nama saya %s" %(name))

nama saya Dzaki Naufal Ilham

In [ ]:
#str_format()

name = "Dzaki Naufal Ilham"
print("nama saya {}".format(name))

nama saya Dzaki Naufal Ilham

In [ ]:
#str_format()

nama = "Dzaki Naufal Ilham"
print("nama saya :", nama)

nama saya : Dzaki Naufal Ilham

In [ ]:
#age

age = 19
salary = 700000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [ ]:
#dynamic_typing

x = 2
print(type(x))

x = "6"
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
#Boolean(bool)

x = True
print(type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
#String_Single_Line

x = 'Polibatam'
print(type(x))

<class 'str'>

In [ ]:
#String_multi_line

multi_line = """Halo!
masi sedih dengan kekalahan di final europa league 2024/2025
yang unbeaten dari fase grup sampe ke final
dan kalah nya hanya di final."""

print(multi_line)

Halo!
masi sedih dengan kekalahan di final europa league 2024/2025
yang unbeaten dari fase grup sampe ke final
dan kalah nya hanya di final.

In [ ]:
#Metode_indexing

x = 'Polibatam'
print(x[7])

a

In [ ]:
#2_Metode_indexing

x = 'Polibatam'
x[0] = 'f'

TypeError: 'str' object does not support item assignment

In [ ]:
#3_Metode_indexing

x = 'Polibatam'
print(x[4:])

batam

In [ ]:
#1_List

x = [1, 2.2, 'Polibatam']
print(type(x))

<class 'list'>

In [ ]:
#2_List

x = [1, 2.2, 'FANS EMYU']
print(x)

[1, 2.2, 'FANS EMYU']

In [ ]:
#Indexing_List

x = [1, 'Polibatam', True, 1.0]

print(x[2])

True

In [ ]:
#Mutable_List

x = [1, 2.2, 'Polibatam']
x[0] = 'GLORY GLORY MAN UNITED'
print(x)

['GLORY GLORY MAN UNITED', 2.2, 'Polibatam']

In [ ]:
#Slicing_List

x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [ ]:
#Tuple

x = (1, "Polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [ ]:
#Indexing_tuple

x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [ ]:
#Immutable_tuple

x = (5, 'program', 1+3j)
x[1] = 'Polibatam'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Set

x = {1, 2, 7, 2, 3, 13, 3}
print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [ ]:
#1_Set

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8,}

union = set1.union(set2)
print("Union:", union)

intersection = set1.intersection(set2)
print("intersection:", intersection)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}

In [ ]:
#Dictionary

x = { 'name': 'Dzaki Naufal Ilham', 'age': 20, 'ismarried': False}
print(type(x))

<class 'dict'>

In [ ]:
#no_indexing
x = { 'name': 'Dzaki Naufal Ilham', 'age': 20, 'ismarried': False }
print(x[0])

KeyError: 0

In [ ]:
#2_Dictionary

x = {'name': 'Dzaki Naufal Ilham', 'age': 19, 'ismarried': False}
print(x['name'])

Dzaki Naufal Ilham

In [ ]:
#menambah_data

x = {'name': 'Dzaki Naufal Ilham', 'age': 19, 'ismarried': False}
x ['job'] = "Presiden Club Man United"

print((x))

{'name': 'Dzaki Naufal Ilham', 'age': 19, 'ismarried': False, 'job': 'Presiden Club Man United'}

In [ ]:
#Menghapus_data

x = {'name': 'Dzaki Naufal Ilham', 'age': 19, 'ismarried': False}
del x['ismarried']

print(x)

{'name': 'Dzaki Naufal Ilham', 'age': 19}

In [ ]:
#Mnegubah_data

x = {'name': 'Dzaki Naufal Ilham', 'age': 19, 'ismarried': False}
x ['name'] = 'Exvan'

print(x)

{'name': 'Exvan', 'age': 19, 'ismarried': False}