<a href="https://colab.research.google.com/github/Dzaki020306/Pemrograman-Dasar/blob/main/pertemuan3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#jelaskan pada laporan

total = input("Berapa porsi makan yang anda beli? :")
nama = input("Siapa nama pelanggan ? : ")

Berapa porsi makan yang anda beli? :1
Siapa nama pelanggan ? : Dzaki

In [ ]:
#jelaskan pada laporan

total = float(input("Berapa porsi makanan yang anda beli? : "))
nama = str(input("siapa nama pelangganan ? : "))
print(f"nama pelenaggan : {nama}")
print(f"nama pelenaggan : {total}")

Berapa porsi makanan yang anda beli? : 1
siapa nama pelangganan ? : Dzaki
nama pelenaggan : Dzaki
nama pelenaggan : 1.0

In [ ]:
food = "mi ayam bakso"
print("dzaki sedang memesan", food)

dzaki sedang memesan mi ayam bakso

In [ ]:
#jelaskan pada laporan

food = "mie ayam bakso"
print("dzaki lagi pesen", food)
print("dzaki lagi pesen "+ food)
print("dzaki lagi pesen %s" % (food))

dzaki lagi pesen mie ayam bakso
dzaki lagi pesen mie ayam bakso
dzaki lagi pesen mie ayam bakso

In [ ]:
nama = "Dzaki"
usia = 20
tinggi = 170.5
angka_hex = 255
angka_oct = 64

print("Nama saya adalah %s" % nama)
print("Usia saya %d tahun" % usia)
print("Tinggi badan saya %.2f cm" % tinggi)
print("Nilai dalam hexa: %x" % angka_hex)
print("Nilai dalam octal: %o" % angka_oct)

Nama saya adalah Dzaki
Usia saya 20 tahun
Tinggi badan saya 170.50 cm
Nilai dalam hexa: ff
Nilai dalam octal: 100

In [ ]:
#kalkulator sederhana

a = 20
b = 5
print("penjumlahan:", a + b)
print("pengurangan:", a - b)
print("perkalian:", a * b)
print("pembagian:", a / b)

penjumlahan: 25
pengurangan: 15
perkalian: 100
pembagian: 4.0

In [ ]:
#mengecekbilangan

bilangan = 8
hasil = (bilangan > 2) and (bilangan % 2 == 0)
print("genap dan positif?", hasil)

genap dan positif? True

In [ ]:
#kalkulator kasir

harga_makan = int(input("berapa harga ayam geprek aulia villa muka kuning porsi? "))
jumlah_makan = int(input("berapa porsi yang anda beli? "))
total_makan = harga_makan * jumlah_makan

print(f"harga makan per porsi = {harga_makan}, totalnya adalah {total_makan}")

berapa harga ayam geprek aulia villa muka kuning porsi? 8000
berapa porsi yang anda beli? 3
harga makan per porsi = 8000, totalnya adalah 24000

In [3]:
#ekspresi jelaskan pada laporan

total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60

print(f"hasil konversi: {jam} jam, {menit} menit, {detik} detik")
total_detik = int (input("total_detik"))

hasil konversi: 1 jam, 0 menit, 0 detik
total_detik3582000

In [4]:
total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60

print(f"hasil konversi: {jam} jam, {menit} menit, {detik} detik")

hasil konversi: 1 jam, 0 menit, 0 detik

In [ ]:
#2ekspresi

tugas = 80
uts = 70
uas = 90
nilai_akhir = (0.6 * tugas) + (0.2 * uts) + (0.2 * uas)
print("nilai akhir =", nilai_akhir)

nilai akhir = 80.0

In [ ]:
#3ekspresi jelaskan pada laporan

nilai_mahasiswa = 90
standar_kelulusan = 80
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan

print(f"nilai mahasiswa: {nilai_mahasiswa}")
print(f"standar kelulusan: {standar_kelulusan}")
print(f"apakah maahsiswa lulus: {apakah_lulus}")
print(f"perlu remedial? {perlu_remedial}")

nilai mahasiswa: 90
standar kelulusan: 80
apakah maahsiswa lulus: True
perlu remedial? False

In [10]:
tugas1 = float(input("Masukkan nilai Tugas 1: "))
tugas2 = float(input("Masukkan nilai Tugas 2: "))
uts = float(input("Masukkan nilai UTS: "))
uas = float(input("Masukkan nilai UAS: "))
project = float(input("Masukkan nilai Project: "))

standar_kelulusan = float(input("Masukkan standar kelulusan: "))
nilai_mahasiswa = (0.15 * tugas1) + (0.15 * tugas2) + (0.25 * uts) + (0.25 * uas) + (0.20 * project)
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan

print(f"\nNilai Akhir Mahasiswa = {nilai_mahasiswa}")
print(f"Standar Kelulusan = {standar_kelulusan}")
print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")
print(f"Perlu Remedial? {perlu_remedial}")

Masukkan nilai Tugas 1: 85
Masukkan nilai Tugas 2: 95
Masukkan nilai UTS: 88
Masukkan nilai UAS: 80
Masukkan nilai Project: 87
Masukkan standar kelulusan: 85

Nilai Akhir Mahasiswa = 86.4
Standar Kelulusan = 85.0
Apakah Mahasiswa Lulus? True
Perlu Remedial? False

In [14]:
#4ekspresi jelaskan pada laporan

belanja = 1000000
diskon = (0, 0.1 * belanja)[belanja > 500000]
total_harga = belanja - diskon

print("total harga setelah diskon =", total_harga)

total harga setelah diskon = 900000.0

In [15]:

belanja = 2000000
diskon = (0, 0.35 * belanja)[belanja > 500000]
total_harga = belanja - diskon

print("total harga setelah diskon =", total_harga)

total harga setelah diskon = 1300000.0

In [16]:
def kabisat(tahun):
    return (tahun % 4 == 0 and tahun % 100 != 0) or (tahun % 400 == 0)

print("2024 :", kabisat(2024))
print("2100 :", kabisat(2100))
print("2000 :", kabisat(2000))
print("2023 :", kabisat(2023))

2024 : True
2100 : False
2000 : True
2023 : False

In [17]:
tahun = 2025
tahun_kabisat = (tahun % 4 == 0) and (tahun % 100 != 0) or (tahun % 400 == 0)
print(tahun_kabisat)

False

In [18]:
#Tugas

jumlah_item = int(input("Masukkan jumlah item yang dibeli: "))
harga_items = []
for i in range(jumlah_item):
    harga = float(input(f"Masukkan harga item ke-{i+1}: "))
    harga_items.append(harga)
status_member = input("Apakah pelanggan member? (y/n): ").lower()
subtotal = sum(harga_items)
berhak_diskon = (status_member == 'y') and (subtotal > 100000)
diskon = subtotal * 0.15 if berhak_diskon else 0
harga_setelah_diskon = subtotal - diskon
ppn = harga_setelah_diskon * 0.11
total_akhir = harga_setelah_diskon + ppn

print("\n===== STRUK PEMBAYARAN =====")
print(f"Subtotal           : Rp{subtotal:,.0f}")
print(f"Diskon (15%)       : Rp{diskon:,.0f}")
print(f"Harga setelah diskon: Rp{harga_setelah_diskon:,.0f}")
print(f"PPN (11%)          : Rp{ppn:,.0f}")
print(f"Total yang harus dibayar: Rp{total_akhir:,.0f}")

Masukkan jumlah item yang dibeli: 2
Masukkan harga item ke-1: 14000
Masukkan harga item ke-2: 35000
Apakah pelanggan member? (y/n): n

===== STRUK PEMBAYARAN =====
Subtotal           : Rp49,000
Diskon (15%)       : Rp0
Harga setelah diskon: Rp49,000
PPN (11%)          : Rp5,390
Total yang harus dibayar: Rp54,390